@import 'vars';

.basket {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;
    row-gap: 64px;

    &__top {
        background-image: url(img/background__top_basket.png);
        height: 400px;
    }

    &__headingBig {
        margin-top: 127px;
    }


    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &__content {
        grid-column: span 8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &_number {
            width: 71px;
            height: 51px;
            border: 1px solid #000;
            border-radius: 6px;
            background: #F7F6F6;
            padding-left: 23px;
            padding-right: 14px;
            text-align: center;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 210%;
        }
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 276px;
    }

    &__price {
        height: 20px;
        font-size: 16px;
    }

    &__link-box {
        display: flex;
        gap: 30px;
        margin-top: 15px;
    }

    &__link {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 210%;
        text-decoration-line: underline;
    }

    &__button-box {
        display: flex;
        gap: 7px;
        align-items: flex-end;
    }

    &__button {
        width: 200px;
        height: 37px;
        border-radius: 50px;
        border: 1px solid #000;
        color: #000;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        background-color: inherit;
        font-family: inherit;
        transition: background-color 0.3s;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    &__form {
        border-radius: 20px;
        background: $bgc-basket__form;
        height: 556px;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        padding-top: 42px;


        &__name {
            color: #000;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 36px;
        }

        &__button {
            margin-left: 45px;
            margin-right: 44px;
            font-family: Montserrat;
            width: 290px;
            height: 41px;
            border-radius: 20px;
            border: 1px solid #040404;
            color: #000;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }

    &__input {
        margin-left: 28px;
        margin-right: 64px;
        margin-bottom: 44px;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 0.5px solid #CACDD8;
        background: $bgc-basket__form;
        color: #000;
        text-align: start;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &::placeholder {
            color: #CACDD8;
            text-align: start;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__totalPrice {
        color: #000;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 18px;

        &_money {
            font-size: 29px;
            font-weight: 500;
        }
    }
}

.img-box {
    display: grid;
    grid-template-areas: "images";
}

.img {
    width: 100%;
    height: 100%;
    grid-area: images;
}

.iconAddTo {
    margin-left: 21px;
    height: 24px;
    width: 24px;
    fill: #C4C4C4;

    &-box {
        grid-area: images;
        height: 24px;
        display: flex;
        margin-top: 10px;
        margin-right: 10px;
        justify-self: end;
    }

    &:hover {
        fill: #c48686;
    }
}