@media (max-width: 767px) {

    .center {
        padding-left: calc(50% - 343px/2);
        padding-right: calc(50% - 343px/2);
    }

    .top {
        margin-bottom: 32px;
    }

    .header {
        padding-top: 32px;

        &__input {
            display: none;
        }

    }

    .menu {
        display: none;

        &__mob {
            align-items: center;
            display: flex;
            gap: 32px;
        }
    }

    .logo {

        &__img {
            width: 99px;
        }
    }

    .title {
        &__1 {
            text-align: center;
            font-size: 48px;
        }

        &__2 {
            font-size: 24px;
        }
    }

    .top {
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__text {
            text-align: center;
            font-size: 16px;
        }
    }

    .link {
        text-align: center;
        font-size: 14px;
    }

    .product {
        padding: 0px;
    }

    .for {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 16px;

        &-box {
            padding-top: 0px;
        }

        &__item {
            grid-column: 1 / -1;
            height: 375px;
            font-size: 28px;

            &_big {
                height: 244px;
            }
        }
    }

    .img {
        width: 343px;
        height: 226px;
        margin-bottom: 9px;
    }

    .product {
        &-box {
            margin-top: 32px;
        }

        &__name {
            font-size: 18px;
        }
    }

    .price {
        font-size: 18px;
    }

    .footer {
        flex-wrap: wrap;
        justify-content: center;
        height: 363px;
        row-gap: 70px;
        margin-top: 32px;

        &__subscription {
            padding-left: 0px;
        }
    }

    .section {
        &__specialOffers {
            row-gap: 32px;
        }

        &__catalog {
            row-gap: 32px;
        }
    }


    .info {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }


    .basket {
        margin-top: 92px;
        grid-template-columns: repeat(4, 1fr);

        &__content {
            grid-column: span 4;
        }

        &__item {
            column-gap: 19px;
        }

        &__left {
            width: 253px;
        }

        &__name-box {
            display: none;
        }

        &__button {
            font-size: 12px;
        }

        &__price {
            font-size: 14px;
        }

        &__img {
            display: none;
        }

        &__form {
            grid-column: span 4;
            width: 343px;

            &__button {
                margin-left: 26px;
                margin-right: 27px;
            }
        }
    }
}