@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }

    .for {
        &_item {
            height: 268px;
        }
    }

    .section_special_offers {
        column-gap: 29px;
        row-gap: 39px;
    }

    .section_catalog {
        column-gap: 29px;
        row-gap: 39px;
    }

    .footer {
        &_logo {
            display: none;
        }

        &_menu {
            padding-left: 0px;
        }

        &_subscription {
            padding-left: 192px;
        }
    }

    .basket {
        grid-template-columns: repeat(8, 1fr);
    }

}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .product {
        width: 345px;
    }

    .img {
        width: 345px;
    }

    .footer {
        &_subscription {
            padding-left: 127px;
        }
    }
}