@media (max-width: 1024px) {

    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }

    .for {
        &__item {
            height: 268px;
        }
    }

    .section {
        &__specialOffers {
            column-gap: 29px;
            row-gap: 39px;
        }

        &__catalog {
            column-gap: 29px;
            row-gap: 39px;
        }
    }

    .footer {
        &__logo {
            display: none;
        }

        &__menu {
            padding-left: 0px;
        }

        &__subscription {
            padding-left: 192px;
        }
    }

    .basket {
        grid-template-columns: repeat(8, 1fr);
    }

}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .product {
        width: 345px;
    }

    .img {
        width: 345px;
    }

    .footer {
        &__subscription {
            padding-left: 127px;
        }
    }
}