* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

header {
  height: 77px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 64px;
}
.top__text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 16px;
}

.home_top {
  height: 735px;
  background-image: url(img/background__top_home.png);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.header__input {
  height: 41px;
  width: 288px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #FFF;
  background-color: transparent;
  outline: none;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 32px;
  padding-right: 32px;
  font-family: inherit;
}
.header__input::-moz-placeholder {
  color: #FFF;
}
.header__input::placeholder {
  color: #FFF;
}

.menu {
  display: flex;
  gap: 32px;
}
.menu__mob {
  display: none;
}
.menu__link {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title__1 {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  max-width: 792px;
}
.title__2 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.title__4 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.headingBig__home {
  margin-top: 64px;
  margin-bottom: 16px;
}
.headingBig__catalog {
  margin-top: 127px;
}

.link {
  color: #888;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.link__SC {
  color: #fff;
}
.link__SC:hover {
  color: #000;
  text-decoration-line: underline;
}
.link__top {
  color: #fff;
}
.link__basket:hover {
  color: #000;
  text-decoration-line: underline;
}

.for {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.for__item {
  height: 415px;
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for__item_big {
  grid-column: span 6;
}
.for__item_1 {
  background-image: url(img/rest.png);
}
.for__item_2 {
  background-image: url(img/job.png);
}
.for__item_3 {
  background-image: url(img/kitchen.png);
}
.for__item_4 {
  background-image: url(img/nursery.png);
}
.for__item_5 {
  background-image: url(img/bathroom.png);
}
.for__link {
  color: #FFF;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section__catalog {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 48px;
  margin-top: 32px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
.section__specialOffers {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 40px;
  margin-top: 32px;
  flex-wrap: wrap;
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  padding: 16px;
  box-sizing: border-box;
}
.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #4b4b4b;
}
.product__name {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product-box {
  margin-top: 64px;
}
.product__price-box {
  display: flex;
  gap: 32px;
}
.product__price {
  color: #050505;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product__price_discount {
  color: #888;
  text-decoration-line: line-through;
}

.img {
  margin-bottom: 10px;
}

.text {
  color: #888;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 9px;
  margin-bottom: 12px;
}

.footer {
  margin-top: 64px;
  height: 207px;
  background-color: #F7F6F6;
  display: flex;
  align-items: start;
  padding-top: 32px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-left: 212px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-left: 129px;
}
.footer__contactsLink-box {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer__subscription {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding-left: 204px;
}
.footer__link {
  color: #888;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer__link:hover {
  color: #000;
  text-decoration: underline;
}
.footer__link_SVG {
  fill: #888888;
}
.footer__link_SVG:hover {
  fill: #000;
}
.footer__text {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__input {
  width: 260px;
  height: 40px;
  background-color: #FFF;
  border-color: #C4C4C4;
  box-sizing: border-box;
  border-radius: 17px;
  padding-left: 17px;
  padding-right: 17px;
  font-family: inherit;
  outline: none;
  border: 1px solid #C4C4C4;
}
.footer__input::-moz-placeholder {
  color: #C4C4C4;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__input::placeholder {
  color: #C4C4C4;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__button {
  width: 260px;
  height: 40px;
  border-style: none;
  background-color: rgba(222, 215, 215, 0.41);
  border-radius: 17px;
  font-family: inherit;
  transition: background-color 0.3s;
}
.footer__button:hover {
  background-color: #000;
  color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
}
.info__link-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.info__link {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.info__select {
  width: 288px;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}
.info__select::after {
  content: "";
  width: 20px;
  height: 11px;
  background-color: #000;
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
select::-ms-expand {
  display: none;
}

select,
.info__select::after {
  grid-area: select;
}

.catalog__top {
  height: 400px;
  background-image: url(img/background__top_catalog.png);
}
.catalog__button {
  background-color: #fff;
  border: none;
  text-align: center;
  color: #888;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.catalog__button:hover {
  text-decoration-line: underline;
  color: #000;
}

.basket {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
  row-gap: 64px;
}
.basket__top {
  background-image: url(img/background__top_basket.png);
  height: 400px;
}
.basket__headingBig {
  margin-top: 127px;
}
.basket__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.basket__content {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.basket__item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.basket__item_number {
  width: 71px;
  height: 51px;
  border: 1px solid #000;
  border-radius: 6px;
  background: #F7F6F6;
  padding-left: 23px;
  padding-right: 14px;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 210%;
}
.basket__left {
  display: flex;
  gap: 32px;
}
.basket__info {
  display: flex;
  flex-direction: column;
  width: 276px;
}
.basket__price {
  height: 20px;
  font-size: 16px;
}
.basket__link-box {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}
.basket__link {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 210%;
  text-decoration-line: underline;
}
.basket__button-box {
  display: flex;
  gap: 7px;
  align-items: flex-end;
}
.basket__button {
  width: 200px;
  height: 37px;
  border-radius: 50px;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background-color: inherit;
  font-family: inherit;
  transition: background-color 0.3s;
}
.basket__button:hover {
  background-color: #000;
  color: #fff;
}
.basket__form {
  border-radius: 20px;
  background: #F7F6F6;
  height: 556px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  padding-top: 42px;
}
.basket__form__name {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 36px;
}
.basket__form__button {
  margin-left: 45px;
  margin-right: 44px;
  font-family: Montserrat;
  width: 290px;
  height: 41px;
  border-radius: 20px;
  border: 1px solid #040404;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.basket__form__button:hover {
  background-color: #000;
  color: #fff;
}
.basket__input {
  margin-left: 28px;
  margin-right: 64px;
  margin-bottom: 44px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #CACDD8;
  background: #F7F6F6;
  color: #000;
  text-align: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.basket__input::-moz-placeholder {
  color: #CACDD8;
  text-align: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.basket__input::placeholder {
  color: #CACDD8;
  text-align: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.basket__totalPrice {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 18px;
}
.basket__totalPrice_money {
  font-size: 29px;
  font-weight: 500;
}

.img-box {
  display: grid;
  grid-template-areas: "images";
}

.img {
  width: 100%;
  height: 100%;
  grid-area: images;
}

.iconAddTo {
  margin-left: 21px;
  height: 24px;
  width: 24px;
  fill: #C4C4C4;
}
.iconAddTo-box {
  grid-area: images;
  height: 24px;
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  justify-self: end;
}
.iconAddTo:hover {
  fill: #c48686;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .section__specialOffers {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .section__catalog {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .footer__menu {
    padding-left: 0px;
  }
  .footer__subscription {
    padding-left: 192px;
  }
  .basket {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
  .img {
    width: 345px;
  }
  .footer__subscription {
    padding-left: 127px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
  .top {
    margin-bottom: 32px;
  }
  .header {
    padding-top: 32px;
  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu__mob {
    align-items: center;
    display: flex;
    gap: 32px;
  }
  .logo__img {
    width: 99px;
  }
  .title__1 {
    text-align: center;
    font-size: 48px;
  }
  .title__2 {
    font-size: 24px;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__text {
    text-align: center;
    font-size: 16px;
  }
  .link {
    text-align: center;
    font-size: 14px;
  }
  .product {
    padding: 0px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
  }
  .for-box {
    padding-top: 0px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
  }
  .for__item_big {
    height: 244px;
  }
  .img {
    width: 343px;
    height: 226px;
    margin-bottom: 9px;
  }
  .product-box {
    margin-top: 32px;
  }
  .product__name {
    font-size: 18px;
  }
  .price {
    font-size: 18px;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    height: 363px;
    row-gap: 70px;
    margin-top: 32px;
  }
  .footer__subscription {
    padding-left: 0px;
  }
  .section__specialOffers {
    row-gap: 32px;
  }
  .section__catalog {
    row-gap: 32px;
  }
  .info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .basket {
    margin-top: 92px;
    grid-template-columns: repeat(4, 1fr);
  }
  .basket__content {
    grid-column: span 4;
  }
  .basket__item {
    -moz-column-gap: 19px;
         column-gap: 19px;
  }
  .basket__left {
    width: 253px;
  }
  .basket__name-box {
    display: none;
  }
  .basket__button {
    font-size: 12px;
  }
  .basket__price {
    font-size: 14px;
  }
  .basket__img {
    display: none;
  }
  .basket__form {
    grid-column: span 4;
  }
  .basket__form__button {
    margin-left: 26px;
    margin-right: 27px;
  }
}/*# sourceMappingURL=style.css.map */