* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 77px;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 64px;

    &__text {
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 16px;
    }
}

.home_top {
    height: 735px;
    background-image: url(img/background__top_home.png);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.80);

    &__input {
        height: 41px;
        width: 288px;
        box-sizing: border-box;
        border-radius: 20px;
        border: 1px solid #FFF;
        background-color: transparent;
        outline: none;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 32px;
        padding-right: 32px;
        font-family: inherit;

        &::placeholder {
            color: #FFF;
        }
    }
}

.menu {
    display: flex;
    gap: 32px;

    &__mob {
        display: none;
    }

    &__link {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.title {
    &__1 {
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 70px;
        max-width: 792px;
    }

    &__2 {
        color: #000;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__4 {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.headingBig {
    &__home {
        margin-top: 64px;
        margin-bottom: 16px;
    }

    &__catalog {
        margin-top: 127px;
    }
}


.link {
    color: #888;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    &__SC {
        color: #fff;

        &:hover {
            color: #000;
            text-decoration-line: underline;
        }
    }

    &__top {
        color: #fff;
    }

    &__basket {
        &:hover {
            color: #000;
            text-decoration-line: underline;
        }
    }
}

.for {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    &__item {
        height: 415px;
        grid-column: span 4;
        display: flex;
        justify-content: center;
        align-items: center;

        &_big {
            grid-column: span 6;
        }

        &_1 {
            background-image: url(img/rest.png);
        }

        &_2 {
            background-image: url(img/job.png);
        }

        &_3 {
            background-image: url(img/kitchen.png);
        }

        &_4 {
            background-image: url(img/nursery.png);
        }

        &_5 {
            background-image: url(img/bathroom.png);
        }
    }

    &__link {
        color: #FFF;
        text-align: center;
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.section {
    &__catalog {
        display: flex;
        column-gap: 32px;
        row-gap: 48px;
        margin-top: 32px;
        margin-bottom: 32px;
        flex-wrap: wrap;
    }

    &__specialOffers {
        display: flex;
        column-gap: 32px;
        row-gap: 40px;
        margin-top: 32px;
        flex-wrap: wrap;
    }
}

.product {
    width: 378px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    padding: 16px;
    box-sizing: border-box;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 5px #4b4b4b;
    }

    &__name {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &-box {
        margin-top: 64px;
    }

    &__price-box {
        display: flex;
        gap: 32px;
    }

    &__price {
        color: #050505;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &_discount {
            color: #888;
            text-decoration-line: line-through;
        }
    }
}


.img {
    margin-bottom: 10px;
}

.text {
    color: #888;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 9px;
    margin-bottom: 12px;
}

.footer {
    margin-top: 64px;
    height: 207px;
    background-color: #F7F6F6;
    display: flex;
    align-items: start;
    padding-top: 32px;


    &__menu {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        padding-left: 212px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        padding-left: 129px;
    }

    &__contactsLink-box {
        display: flex;
        column-gap: 20px;
    }

    &__subscription {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding-left: 204px;
    }

    &__link {
        color: #888;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &:hover {
            color: #000;
            text-decoration: underline;
        }

        &_SVG {
            fill: #888888;

            &:hover {
                fill: #000;
            }
        }
    }

    &__text {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__input {
        width: 260px;
        height: 40px;
        background-color: #FFF;
        border-color: #C4C4C4;
        box-sizing: border-box;
        border-radius: 17px;
        padding-left: 17px;
        padding-right: 17px;
        font-family: inherit;
        outline: none;
        border: 1px solid #C4C4C4;

        &::placeholder {
            color: #C4C4C4;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__button {
        width: 260px;
        height: 40px;
        border-style: none;
        background-color: rgba(222, 215, 215, 0.41);
        border-radius: 17px;
        font-family: inherit;
        transition: background-color 0.3s;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}

.info {
    display: flex;
    justify-content: space-between;

    &__link-box {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__link {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
    }

    &__select {
        width: 288px;
        min-width: 15ch;
        max-width: 30ch;
        border: 1px solid #C4C4C4;
        border-radius: 20px;
        padding: 10px 15px;
        font-size: 1.25rem;
        cursor: pointer;
        line-height: 1.1;
        background-color: #fff;
        background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
        display: grid;
        grid-template-areas: "select";
        align-items: center;

        &::after {
            content: "";
            width: 20px;
            height: 11px;
            background-color: #000;
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            justify-self: end;
        }
    }
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    &::-ms-expand {
        display: none;
    }

    outline: none;
}


select,
.info__select::after {
    grid-area: select;
}

.catalog {
    &__top {
        height: 400px;
        background-image: url(img/background__top_catalog.png);
    }

    &__button {
        background-color: #fff;
        border: none;
        text-align: center;
        color: #888;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        cursor: pointer;

        &:hover {
            text-decoration-line: underline;
            color: #000;
        }
    }
}

@import 'basket';
@import 'tablet';
@import 'mobile';