*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 77px;
}

.top {
    height: 735px;
    background-image: url(img/background__top.png);
    background-repeat: no-repeat;
    background-position: canter;
    background-size: cover;
    margin-bottom: 64px;
}

.top_text {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 16px;
}

.header_input {
    height: 41px;
    width: 288px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #FFF;
    background-color: transparent;
    outline: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 32px;
    padding-right: 32px;
}

.header_input::placeholder {
    color: #FFF;
}

.menu_link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title_1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
    width: 792px;
}

.link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}


.title_2{
    color: #000;
/* text-align: center;*/
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 120px;
}

.title_3 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.img{
    margin-bottom: 10px;
}

.text {
    color: #888;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:9px;
    margin-bottom:12px;
}

.price {
    color: #050505;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.discount {
    color: #888;
    text-decoration-line: line-through;
}

.section_catalog {
    margin-bottom: 64px;
}

.group_1 {
    margin-top: 32px;
    margin-bottom:48px;
}

.group_2 {
    margin-bottom: 32px;
}

.link_SC {
    color: #000;
    text-decoration-line: underline;
}

.title_4 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.footer_link {
    color: #888;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_text {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_input {
    width: 260px;
    height: 40px;
    background-color: #FFF;
    border-color: #C4C4C4;
    box-sizing: border-box;
    border-radius: 17px;
    padding-left: 17px;
    padding-right: 17px;
}

.footer_input::placeholder {
    color: #C4C4C4;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_button {
    width: 260px;
    height: 40px;
    border-style: none;
    background-color: rgba(222, 215, 215, 0.41);
    border-radius: 17px;
}