* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 77px;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 735px;
    background-image: url(img/background__top.png);
    background-repeat: no-repeat;
    background-position: canter;
    background-size: cover;
    margin-bottom: 64px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_text {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 16px;
}

.header_input {
    height: 41px;
    width: 288px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #FFF;
    background-color: transparent;
    outline: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 32px;
    padding-right: 32px;
}

.header_input::placeholder {
    color: #FFF;
}

.menu_link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title_1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
    width: 792px;
}

.link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.product_box {
    margin-top: 64px;
}

.title_2 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section_special_offers {
    display: flex;
    column-gap: 32px;
    row-gap: 48px;
    margin-top: 32px;
    flex-wrap: wrap;
}

.section_catalog {
    display: flex;
    column-gap: 32px;
    row-gap: 48px;
    margin-top: 32px;
    margin-bottom: 32px;
    flex-wrap: wrap;
}

.product {
    width: 378px;
    display: flex;
    flex-direction: column;
}

.product_name {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.img {
    margin-bottom: 10px;
}

.text {
    color: #888;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 9px;
    margin-bottom: 12px;
}

.price {
    color: #050505;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product_box_prace {
    display: flex;
    gap: 32px;
}

.discount {
    color: #888;
    text-decoration-line: line-through;
}

.link_SC {
    color: #000;
    text-decoration-line: underline;
}

.title_4 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer {
    margin-top: 64px;
    height: 207px;
    background-color: #F7F6F6;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.footer_menu {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-left: 212px;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-left: 129px;
}

.footer_subscription {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-left: 204px;
}

.footer_link {
    color: #888;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.box_contacts_link {
    display: flex;
    column-gap: 20px;
}

.footer_text {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_input {
    width: 260px;
    height: 40px;
    background-color: #FFF;
    border-color: #C4C4C4;
    box-sizing: border-box;
    border-radius: 17px;
    padding-left: 17px;
    padding-right: 17px;
}

.footer_input::placeholder {
    color: #C4C4C4;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_button {
    width: 260px;
    height: 40px;
    border-style: none;
    background-color: rgba(222, 215, 215, 0.41);
    border-radius: 17px;
}